.flexSection {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.flexSection h3 {
  font-size: 36px;
  color: #f1f1f1;
  font-weight: 600;
  text-transform: uppercase;
}

.flexSection p {
  color: #f1f1f1;
  margin: 20px 0px;
}

.flexSection.glass {
  position: relative;
  border: .5px solid var(--primary-color);
  border-radius: 4px;
}

.flexSection.glass:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: var(--border-radius);
  backdrop-filter: blur(30px);
}

.flexSection.glass p,
.flexSection.glass img,
.flexSection.glass h3 {
  z-index: 1;
  position: relative;
}

.flexSection .flexItem:first-child {
  width: 64%;
}

.flexSection .flexItem:last-child {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px){
  .flexSection {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .flexSection .flexItem:first-child {
    width: 100%;
  }

  .flexSection .flexItem:last-child {
    width: 60%;
    margin: 40px auto;
  }
}
